
@media (min-width: 480px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    background-color: #fff;
  }

  .header {
    display: flex;
    justify-content: space-between;
    width: 375px;
    height: 48px;
    background-color: #3c3a39;
    align-items: center;
  }

  .logo {
    padding-left: 8%;
    color: white;
    font-size: 22px;
  }

  .fa-bars {
    padding-right: 8%;
    color: white;
    font-size: 22px;
  }

  .desktop {
    display: none;
  }

  .banner-desktop {
    display: none;
  }

  .banner {
    background-image: url('./images/Illustration.png.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 150.83px, 144.89px;
    rotate: -164.51;
    top: 30px;
    left: 300px;
    background-color: #1c1a19;
    width: 375px;
    height: 590px;
  }

  .main {
    padding-top: 100px;
    padding-left: 20px;
    width: 327px;
    height: 124px;
  }

  .main2 {
    padding-left: 20px;
    width: 327px;
    height: 27px;
    gap: 0;
  }

  .discription {
    padding-top: 15px;
    padding-left: 20px;
    width: 327px;
    height: 123px;
    gap: 0;
  }

  .banner .heading {
    color: #ff6b00;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.3700000047683716px;
    text-align: left;
  }

  .banner .sub-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #fff5e1;
  }

  .banner p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #fff;
  }

  .social-links {
    padding-left: 20px;
    padding-top: 20px;
    width: 200px;
    height: 40px;
    gap: 0;
  }

  .social-links .social {
    width: 40px;
    height: 40px;
    font-size: 24px;
    padding: 8px 8px 0 0;
    gap: 0;
    border-radius: 8px 0 0 0;
    color: #dbd8d7;
    display: inline;
  }

  .title {
    padding-top: 80px;
    padding-bottom: 15px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 327px;
    height: 107px;
  }

  .mobile-img {
    width: 327px;
    height: 237px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .mobile-img img {
    width: 327px;
  }

  .title hr {
    width: 327px;
    height: 0;
    margin-top: 30px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .block {
    padding-top: 60px;
    width: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .block-heading {
    width: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 21px;
  }

  .block-heading h2 {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .item {
    width: 327px;
    margin-left: 16px;
    margin-right: 16px;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }

  .item div {
    border: 2px solid  #8993a4;
    padding: 10px 12px 10px 12px;
  }

  .btn {
    border: 1px solid #ff6b00;
    background-color: #ff6b00;
    padding: 12px;
    font-size: 17px;
    color: white;
    margin-left: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .block2 {
    width: 375px;
    height: 365px;
    background-image: url('./images/Img\ Placeholder1.png');
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 24px;
    margin-right: 24px;
  }

  .block2 h2 {
    color: #fff;
    font-size: 32px;
    padding: 80px 0 20px 16px;
  }

  .block2 p {
    padding: 0 60px 20px 16px;
    color: #fff;
    font-size: 16px;
  }

  .card-item {
    width: 327px;
    height: auto;
    margin-left: 0;
    margin-right: 24px;
    display: flex;
  }

  .card-item div {
    padding: 10px 12px 10px 12px;
    margin-left: 16px;
    color: #fff;
    background: rgba(255, 255, 255, 0.24);
  }

  .btn-2 {
    border: 2px solid #ff6b00;
    width: 327px;
    height: 60px;
    background-color: #ff6b00;
    padding: 12px;
    font-size: 17px;
    color: white;
    margin-top: 30px;
    text-align: center;
  }

  .banner-2 {
    margin-top: 100px;
    background-image: url('./images/Frame.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 150.83px, 144.89px;
    rotate: -164.51;
    top: 30px;
    left: 300px;
    background-color: #1c1a19;
    width: 375px;
    height: 590px;
  }

  .main-1 {
    padding-top: 100px;
    padding-left: 20px;
    width: 327px;
    height: 124px;
  }

  .discription-2 {
    padding-top: 15px;
    padding-left: 20px;
    width: 327px;
    height: 123px;
    gap: 0;
  }

  .banner-2 .heading-2 {
    color: #ff6b00;
    font-size: 80px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.3700000047683716px;
    text-align: center;
    padding-top: 40px;
  }

  .banner-2 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #fff;
  }

  .btn-3 {
    background-color: #ff6b00;
    padding: 12px;
    font-size: 17px;
    color: white;
    margin-top: 30px;
    text-align: center;
  }

  .banner-3 {
    background-color: #1c1a19;
    width: 375px;
    height: 790px;
    display: flex;
    flex-direction: column;
  }

  .language {
    color: white;
    font-size: 32px;
  }

  .language img {
    width: 18px;
    height: 18px;
    padding-right: 10px;
  }

  .language-content {
    color: white;
    padding-top: 22px;
    text-align: center;
  }

  .line {
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 327px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .language-line {
    padding-top: 80px;
  }

  .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    width: 327px;
    height: 216px;
    font-size: 32px;
    padding-top: 50px;
    text-align: center;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    width: 327px;
    height: 216px;
    font-size: 32px;
    padding-top: 80px;
    text-align: center;
  }

  input {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: 1px solid #bbb;
    background-color: transparent;
  }

  textarea {
    width: 100%;
    height: 114px;
    background: rgba(251, 248, 247, 1);
    padding: 15px;
    margin-top: 20px;
    font-size: 15px;
  }

  .end-div .end {
    margin-top: 100px;
    width: 375px;
    height: 1px;
  }

  .social-links-2 {
    margin-top: 100px;
    margin-left: 24px;
    margin-right: 24px;
    width: 327px;
    height: 0;
    display: flex;
    justify-content: center;
    border: 1px solid #3c3a39;
  }

  .social-links-2 .social-2 {
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: rgba(80, 95, 121, 1);
    padding-top: 30px;
  }

  .desktop-img image {
    margin-top: 20px;
  }

  .title-desktop {
    display: none;
  }

  .card-desktop {
    display: none;
  }

  .desktop-img {
    display: none;
  }

  .last {
    display: none;
  }

  .btn-end {
    display: none;
  }
}

@media (min-width: 1280px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .header {
    width: 100%;
    height: 72px;
    background-color: rgba(62, 60, 60, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    color: white;
  }

  .logo {
    padding-left: 100px;
  }

  .header .fa-bars {
    display: none;
  }

  .desktop {
    margin-right: 100px;
    width: 255px;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .banner {
    display: none;
  }

  .banner-desktop {
    width: 100%;
    height: 600px;
    background-image: url('./images/desktop-Illustration-header\ \(1\).png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 400.83px, 350.89px;
    display: flex;
    background-color: #1c1a19;
  }

  .banner-desktop .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(207, 207, 207, 1);
    font-size: 22px;
    position: absolute;
    top: 40%;
    left: 30px;
    width: 50px;
    height: 200px;
    justify-content: space-around;
  }

  .banner-desktop .main {
    width: 800px;
    display: flex;
    font-size: 42px;
    color: rgba(245, 88, 0, 1);
    position: absolute;
    top: 15%;
    left: 150px;
  }

  .banner-desktop .main2 {
    width: 400px;
    display: flex;
    position: absolute;
    top: 65%;
    left: 150px;
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
  }

  .banner-desktop .discription {
    display: flex;
    width: 566px;
    height: 123px;
    position: absolute;
    top: 70%;
    left: 150px;
    color: rgba(244, 245, 247, 1);
    font-size: 20px;
  }

  .title {
    display: none;
  }

  .mobile-img {
    display: none;
  }

  .title-desktop {
    display: flex;
    justify-content: center;
  }

  .title-desktop .title-arrange-1 {
    width: 50%;
    margin-top: 50px;
    margin-left: 150px;
  }

  .title-desktop .title-arrange-2 {
    width: 100%;
    height: 0;
  }

  .block-div {
    margin-top: 80px;
    display: flex;
    justify-items: center;
  }

  .item {
    width: 327px;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  .item div {
    border: 2px solid  #8993a4;
    padding: 10px 12px 10px 12px;
  }

  .btn {
    border: 1px solid #ff6b00;
    background-color: #ff6b00;
    padding: 12px;
    font-size: 17px;
    color: white;
    width: 120px;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .block-heading p {
    width: 348px;
  }

  .desktop-img {
    margin-left: 170px;
    display: flex;
  }

  .block-div img {
    width: 500px;
  }

  .arrange {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .title-desktop h1 {
    margin-top: 30px;
    margin-left: 15%;
  }

  .block-div p {
    margin-top: 20px;
    font-size: 18px;
  }

  .block-heading h2 {
    font-size: 30px;
  }

  .card {
    display: none;
  }

  .card-desktop {
    display: flex;
    flex-direction: column;
  }

  .card-desktop .card-desktop-item1 {
    display: flex;
    margin-top: 20px;
  }

  .card-desktop .card-desktop-item1 .block1 {
    margin-left: 170px;
    width: 300px;
    height: 400px;
    background-image: url('images/card\ work1.png');
    background-repeat: no-repeat;
    background-size: 369px 435px;
    border: 2px solid rgba(9, 30, 66, 1);
  }

  .card-desktop .card-desktop-item1 .block2 {
    margin-left: 25px;
    width: 300px;
    height: 400px;
    background-image: url('images/Card\ Works2.png');
    background-repeat: no-repeat;
    background-size: 369px 435px;
  }

  .card-desktop .card-desktop-item1 .block3 {
    margin-left: 25px;
    width: 300px;
    height: 400px;
    background-image: url('images/Mask\ Group.png');
    background-repeat: no-repeat;
    background-size: 370px 435px;
    margin-right: 170px;
  }

  .btn-desktop-2 {
    border: 2px solid #ff6b00;
    width: 296px;
    height: 60px;
    background-color: #ff6b00;
    padding: 12px;
    font-size: 17px;
    color: white;
    margin-top: 336px;
    text-align: center;
  }

  .card-desktop .card-desktop-item1 .block2 h2 {
    color: #fff;
    font-size: 30px;
    margin-left: 7px;
    margin-top: 80px;
  }

  .card-desktop .card-desktop-item1 .block2 p {
    color: #fff;
    margin-left: 7px;
    margin-top: 0px;
    width: 350px;
  }

  .card-desktop .card-desktop-item1 .block2 .card-item {
    width: 327px;
    height: auto;
    margin-left: 0;
    margin-right: 24px;
    display: flex;
    margin-top: 0px;
  }

  .card-desktop .card-desktop-item1 .block2 .card-item div {
    padding: 10px 12px 10px 12px;
    margin-left: 16px;
    color: #fff;
    background: rgba(255, 255, 255, 0.24);
  }

  .card-desktop .card-desktop-item1 .block3 h2 {
    color: #fff;
    font-size: 28px;
    margin-left: 20px;
    margin-top: 190px;
  }

  .card-desktop .card-desktop-item1 .block3 p {
    color: #fff;
    margin-left: 20px;
    margin-top: 25px;
  }

  .card-desktop .card-desktop-item1 .block3 .card-item {
    width: 327px;
    height: auto;
    margin-left: 0;
    margin-right: 24px;
    display: flex;
    margin-top: 25px;
  }

  .card-desktop .card-desktop-item1 .block3 .card-item div {
    padding: 10px 12px 10px 12px;
    margin-left: 16px;
    color: #fff;
    background: rgba(255, 255, 255, 0.24);
  }

  .card-desktop-item2 {
    display: flex;
    margin-top: 30px;
  }

  .card-desktop .card-desktop-item2 .block1- {
    width: 300px;
    height: 400px;
    background-image: url('images/Mask\ Group11.png');
    background-repeat: no-repeat;
    background-size: 369px 435px;
    margin-left: 172px;
  }

  .card-desktop .card-desktop-item2 .block2 {
    margin-left: 25px;
    width: 300px;
    height: 400px;
    background-image: url('images/Card\ Works2.png');
    background-repeat: no-repeat;
    background-size: 369px 435px;
  }

  .card-desktop .card-desktop-item2 .block3 {
    margin-left: 25px;
    width: 300px;
    height: 400px;
    background-image: url('images/Mask\ Group.png');
    background-repeat: no-repeat;
    background-size: 370px 435px;
    margin-right: 170px;
  }

  .card-desktop .card-desktop-item2 .block1- h2 {
    color: #fff;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 160px;
  }

  .card-desktop .card-desktop-item2 .block1- p {
    color: #fff;
    margin-left: 20px;
    margin-top: 20px;
  }

  .card-desktop .card-desktop-item2 .block1- .card-item {
    width: 327px;
    height: auto;
    margin-left: 0;
    margin-right: 24px;
    display: flex;
    margin-top: 25px;
  }

  .card-desktop .card-desktop-item2 .block1- .card-item div {
    padding: 10px 12px 10px 12px;
    margin-left: 16px;
    color: #fff;
    background: rgba(255, 255, 255, 0.24);
  }

  .card-desktop .card-desktop-item2 .block2 h2 {
    color: #fff;
    font-size: 30px;
    margin-left: 7px;
    margin-top: 80px;
  }

  .card-desktop .card-desktop-item2 .block2 p {
    color: #fff;
    margin-left: 7px;
    width: 350px;
    margin-top: 0px;
  }

  .card-desktop .card-desktop-item2 .block2 .card-item {
    width: 327px;
    height: auto;
    margin-left: 0;
    margin-right: 24px;
    display: flex;
    margin-top: 0px;
  }

  .card-desktop .card-desktop-item2 .block2 .card-item div {
    padding: 10px 12px 10px 12px;
    margin-left: 16px;
    color: #fff;
    background: rgba(255, 255, 255, 0.24);
  }

  .card-desktop .card-desktop-item2 .block3 h2 {
    color: #fff;
    font-size: 28px;
    margin-left: 20px;
    margin-top: 190px;
  }

  .card-desktop .card-desktop-item2 .block3 p {
    color: #fff;
    margin-left: 20px;
    margin-top: 25px;
  }

  .card-desktop .card-desktop-item2 .block3 .card-item {
    width: 327px;
    height: auto;
    margin-left: 0;
    margin-right: 24px;
    display: flex;
    margin-top: 25px;
  }

  .card-desktop .card-desktop-item2 .block3 .card-item div {
    padding: 10px 12px 10px 12px;
    margin-left: 16px;
    color: #fff;
    background: rgba(255, 255, 255, 0.24);
  }

  .banner-2 {
    margin-top: 100px;
    background-image: url('./images/Frame1.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 473.83px, 353.89px;
    rotate: -164.51;
    background-color: #1c1a19;
    width: 100%;
    height: 590px;
  }

  .banner-2 .main-1 {
    width: 400px;
    font-size: 62px;
    color: #ff6b00;
    position: relative;
    top: 8%;
    left: 8%;
  }

  .banner-2 .discription-2 {
    color: #fff;
    font-size: 18px;
    position: relative;
    top: 22%;
    left: 10%;
    width: 500px;
  }

  .btn-3 {
    background-color: #ff6b00;
    padding: 12px;
    font-size: 17px;
    color: white;
    margin-top: 30px;
    text-align: center;
    border: 2px solid #ff6b00;
  }

  .banner-3 {
    background-color: #1c1a19;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }

  .banner-3 .line {
    border-top: 1px solid #fff;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    color: #fff;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;
  }
  .banner-3 .language {
    font-size: 30px;
  }
  .banner-3 .language img{
    width: 30px;
    height: auto;
  }
  .banner-3 .language-content {
    display: flex;
    font-size: 16px;
    width: 200px;
    height: 50px;
    justify-content: left;
    align-items: center;
  }

  .last {
    width: 80%;
    height: 400px;
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
  }

  .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    width: 327px;
    height: 216px;
    font-size: 32px;
    padding-top: 50px;
    text-align: center;
  }

  .form {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    width: 327px;
    height: 216px;
    font-size: 32px;
    padding-top: 80px;
  }

  input {
    width: 500px;
    padding: 12px;
    font-size: 15px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: 1px solid #bbb;
    background-color: transparent;
  }

  textarea {
    width: 500px;
    height: 114px;
    background: rgba(251, 248, 247, 1);
    padding: 15px;
    margin-top: 20px;
    font-size: 15px;
  }

  .title-desktop hr {
    margin-top: 100px;
    width: 375px;
    height: 0px;
  }
.form .btn{
  display: none;
}
  .form .btn-end {
    display: flex;
    background-color: #ff6b00;
    color: white;
    padding: 12px;
    font-size: 18px;
    border: 1px solid #ff6b00;
  }

  .social-links-3 {
    width: 100%;
    height: 20px;
    display: flex;
    padding: 30px;
    justify-content: center;
    position: relative;
    color: rgba(80, 95, 121, 1);
    border-top: 1px solid #333;
  }

  .social-links-3 i {
  
    margin-left: 10px;
    font-size: 22px;
  }
}
